Repository Vexed01/Vex-Cogs, pull requests merged in 2022-02, with the labels that each got.

#76 New cog - Birthday
  CONTRIBUTING.md
  README.md
  birthday/__init__.py
  birthday/abc.py
  birthday/birthday.py
  birthday/commands.py
  birthday/consts.py
  birthday/converters.py
  birthday/info.json
  birthday/loop.py
  birthday/utils.py
  birthday/vexutils/README.md
  birthday/vexutils/__init__.py
  birthday/vexutils/button_pred.py
  birthday/vexutils/chat.py
  birthday/vexutils/commit.json
  birthday/vexutils/consts.py
  birthday/vexutils/loop.py
  birthday/vexutils/meta.py
  birthday/vexutils/py.typed
  birthday/vexutils/sqldriver.py
  birthday/vexutils/url_buttons.py
  birthday/vexutils/version.py
  bump.py
  docs/cogs/birthday.rst
  docs/getting_started.rst
  docs/index.rst
  tox.ini
Labels: approved, type: new cog

#79 [Birthday 1.0.4] Grab the config instance instead of json
  birthday/birthday.py
  birthday/commands.py
  docs/changelog.rst
Labels: approved, cog: birthday

#81 Type annotation changes
  aliases/__init__.py
  aliases/aliases.py
  anotherpingcog/anotherpingcog.py
  anotherpingcog/objects.py
  cmdlog/channellogger.py
  cmdlog/objects.py
  covidgraph/data.py
  ghissues/api.py
  github/api.py
  github/github.py
  googletrends/plot.py
  madtranslate/madtranslate.py
  stattrack/abc.py
  stattrack/commands.py
  stattrack/converters.py
  status/commands/status_com.py
  status/commands/statusset_com.py
  status/core/statusapi.py
  status/objects/caches.py
  status/objects/channel.py
  status/objects/configwrapper.py
  status/objects/incidentdata.py
  status/objects/sendcache.py
  status/objects/typeddict.py
  status/updateloop/processfeed.py
  status/updateloop/sendupdate.py
  status/updateloop/updatechecker.py
  system/backend.py
  system/system.py
  timechannel/converters.py
  timechannel/loop.py
  timechannel/timechannel.py
  timechannel/utils.py
  wol/wol.py
Labels: approved

#83 [Birthday] Ensure correct announce time v2
  birthday/birthday.py
  birthday/loop.py
  docs/changelog.rst
Labels: type: bug, cog: birthday
